<div *ngIf="validResponse">

<div class="content">
  <div class="row">
    <div class="col-sm-4">
      <h1>{{artistData.name}}</h1>
      <img class="artist-image" src="{{artistData.image}}" />
      <h3 class="tour">Currently Touring:</h3>
      <p>{{isTouring}}</p>
      <h3>Listeners:</h3>
      <p>{{artistData.listeners | number:'2.'}}</p>
      <h3>Genres:</h3>
      <ul>
        <li *ngFor="let tag of tags">{{tag.name}}</li>
      </ul>
    </div>
    <div class="col-sm-8">
      <h3 class="sub-title">Similar Artists:</h3>
      <span *ngIf="similarArtists?.length > 0">
      <ul class="similar-artists">
        <li class="artist-contemp" *ngFor="let artist of similarArtists">
          <img class="artist-image-sub" src="{{artist.image[2]['#text']}}" />
          <h6 class="similar-artist" (click)="goToArtist(artistSearch)" attr.fullName="{{artist.name | trimspace}}" #artistSearch>{{artist.name | slice:0:21}}</h6>
        </li>
      </ul>
    </span>
    <span *ngIf="similarArtists?.length == 0">
      <p class="center-text">None Available</p>
    </span>
      <h3>Bio:</h3>
    <span *ngIf="bio?.length > 0">
      <p>{{ (bio.length>600)? (bio | slice:0:600)+'...':(bio) }}</p>
      <p class="read-more" (click)="goToPage($event);" attr.url="{{artistData.url}}">Read More</p>
    </span>
    <span *ngIf="bio?.length == 0">
      <p>No Bio Available</p>
    </span>
    </div>
  </div>
</div>
</div>
