.title {
  text-align: center;
}

.review {
display: inline-block;
margin-left: 20px;
margin-right: 20px;
}

.album {
  font-size: 12px;
  text-align:center;
  margin-top:4px;
}

.artist {
  font-size: 10px;
  text-align: center;
}

.artist:hover {
  cursor: pointer;
}

.cover {
  width: 135px;
  height: auto;
}
