<div class="row">
   <div class="col-md-12">
      <h6 class="page-title">Reviews</h6>
   </div>
</div>
<span *ngIf="loading else load">
  <div class="row">
     <div class="col-md-12">
       <img src="../../../assets/loading.gif" class="loader"/>
     </div>
   </div>
</span>
<ng-template #load>
  <div class="row">
     <div class="col-md-12">
        <ul>
           <span *ngIf="onHomePage else full">
             <li class="review col-md-3" *ngFor="let review of reviews | slice:0:4">
               <a href="{{review.link}}" target="_blank"><img class="cover" src="{{review.image}}" title="{{review.album}}" /></a>
                 <a href="{{review.link}}" title="{{review.album}}" target="_blank"><h5 class="album">{{review.album | trimstring}}</h5></a>
               <h6 class="artist" (click)="goToArtist($event)" attr.fullName="{{review.artist}}" #artistsearch>{{review.artist | slice:0:22}}</h6>
              </li>
           </span>
           <ng-template #full>
             <li class="review col-md-3" *ngFor="let review of reviews">
               <a href="{{review.link}}" target="_blank"><img class="cover" src="{{review.image}}" /></a>
               <a href="{{review.link}}" target="_blank"><h5 class="album">{{review.album | trimstring}}</h5></a>
               <h6 class="artist" (click)="goToArtist($event)" attr.fullName="{{review.artist}}" #artistsearch>{{review.artist | slice:0:22}}</h6>
              </li>
           </ng-template>
        </ul>
     </div>
  </div>
</ng-template>
