@media screen and (min-width: 600px) {
  .home-section {
    height:auto;
    padding-top: 20px;
    padding-bottom:20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius:10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87f1fd+0,53e4f1+40,05cbe1+100 */
  background: rgb(135,241,253); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(135,241,253,1) 0%, rgba(83,228,241,1) 40%, rgba(5,203,225,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(135,241,253,1) 0%,rgba(83,228,241,1) 40%,rgba(5,203,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(135,241,253,1) 0%,rgba(83,228,241,1) 40%,rgba(5,203,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87f1fd', endColorstr='#05cbe1',GradientType=0 ); /* IE6-9 */
  }



  h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

  .review {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  }

  .album {
    font-size: 14px;
    text-align: center;
    margin-top:10px;
  }

  .artist {
    font-size: 12px;
    text-align: center;
  }

  .cover {
    width: 135px;
    height: auto;
  }

  .review-widget {
    list-style-type: none;
    margin-left: auto;
    margin-right:auto;
    display:block;
  }

}

.see-all {
  text-decoration: none;
  text-align:center;
  color:black;
  font-family: 'Roboto', sans-serif;
}

.review-widget {
  list-style-type: none;
}

.artist:hover {
  cursor:pointer;
}

.newSong:hover {
  cursor: pointer;
}

.loader {
  width: 120px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
