<div class="new-releases home-section col-md-10">
  <h4>New Releases</h4>
  <span *ngIf="loading">
    <img src="../../../assets/loading.gif" class="loader"/>
  </span>
  <span *ngIf="!loading">
    <ul>
      <li class="newSong" *ngFor="let song of newReleases | slice:0:5" (click)="linkToSong(songData);" attr.songLink="{{song.url}}" #songData>{{song.title | format}}</li>
    </ul>
  </span>
  <a routerLink="/new-releases"><h6 class="see-all">More Releases</h6></a>
</div>

<div class="reviews home-section col-md-10">
  <h4>Reviews</h4>
  <ul class="review-widget">
    <li class="review" *ngFor="let review of reviews | slice:0:4">
      <a href="{{review.link}}" target="_blank"><img class="cover" src="{{review.image}}" /></a>
      <h5 class="album">{{review.album | slice:0:22}}</h5>
      <h6 class="artist" (click)="goToArtist(artistSearch);" attr.fullName="{{review.artist | trimspace}}" #artistSearch>{{review.artist | slice:0:22}}</h6>
    </li>
  </ul>
  <a routerLink="/reviews"><h6 class="see-all">More Reviews</h6></a>
</div>
