<div class="row">
   <div class="col-md-12">
      <h6 class="page-title">News</h6>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
     <ul>
       <span *ngIf="onHomePage else full">
         <li *ngFor="let item of news | slice:0:4" class="news-link">
           <a href="{{item.link}}" target="_blank">{{item.title}}</a>
         </li>
       </span>
       <ng-template #full>
         <li *ngFor="let item of news" class="news-link-full">
           <a href="{{item.link}}" target="_blank">{{item.title}}</a>
           </li>
       </ng-template>
     </ul>
   </div>
</div>
