<div class="row">
  <div class="col-md-12">
    <h6 class="page-title">New Releases</h6>
  </div>
</div>
<span *ngIf="loading else load">
    <div class="row">
       <div class="col-md-12">
         <img src="../../../assets/loading.gif" class="loader"/>
       </div>
     </div>
</span>
<ng-template #load>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <span *ngIf="onHomePage else full">
          <li *ngFor="let item of items | slice:0:4" class="col-md-3 new-release">
          <a href="{{item.url}}" title="{{item.title}}" target="_blank"><div class="new-img"><i class="fa fa-music" aria-hidden="true"></i></div></a>
              <a href="{{item.url}}" title="{{item.title}}" target="_blank">{{item.title | cleanup | trimstring}}</a></li>
        </span>
        <ng-template #full>
          <li *ngFor="let item of items" class="col-md-3 new-release">
          <a href="{{item.url}}" title="{{item.title}}" target="_blank"><div class="new-img"><i class="fa fa-music" aria-hidden="true"></i></div></a>
              <a href="{{item.url}}" title="{{item.title}}" target="_blank">{{item.title | cleanup | trimstring}}</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</ng-template>
