
.head {
  width: 100%;
  height: auto;
  padding-top:10px;
  padding-bottom:10px;
  background-color: #79C4C4;
}

.header {
  width: 260px;
  height: 30px;
  color: black;
  display:block;
  margin-left: auto;
  margin-right:auto;
  border-radius: 25px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87f1fd+0,53e4f1+40,05cbe1+100 */
background: rgb(135,241,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(135,241,253,1) 0%, rgba(83,228,241,1) 40%, rgba(5,203,225,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(135,241,253,1) 0%,rgba(83,228,241,1) 40%,rgba(5,203,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(135,241,253,1) 0%,rgba(83,228,241,1) 40%,rgba(5,203,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87f1fd', endColorstr='#05cbe1',GradientType=0 ); /* IE6-9 */
}

.title {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.home-link {
  float: left;
  text-decoration: none;
  color:white;
  margin-left: 20px;
}

.fa-music {
  margin-right: 10px;
}
